/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav img {
  margin: 1.5rem 3rem;
}
header nav ul .nav-element {
  display: inline;
  margin: 0 1rem;
}
header nav ul .nav-element a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}
header nav ul .nav-element :hover {
  color: #0282f9;
}

.main .comics-container {
  position: relative;
  padding: 2rem 0;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .comics-container .tag-current {
  position: absolute;
  top: -30px;
  left: 9%;
  background-color: #0282f9;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  font-weight: 600;
  border: none;
}
.main .comics-container .comics-library-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem 0;
}
.main .comics-container .comics-library-container .comic-card {
  width: calc(16.6666666667% - 1.5rem);
}
.main .comics-container .comics-library-container .comic-card a img {
  width: 100%;
}
.main .comics-container .comics-library-container .comic-card p {
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  width: 100%;
}
.main .comics-container button {
  background-color: #0282f9;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.8rem 2rem;
  font-weight: 600;
  border: none;
}
.main .comics-container button:hover {
  transform: scale(1.05);
}
.main .comics-buy-container {
  background-color: #0282f9;
}
.main .comics-buy-container .div-container-element {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.main .comics-buy-container .div-container-element .element-comics-buy {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.main .comics-buy-container .div-container-element .element-comics-buy:hover {
  transform: scale(1.05);
}
.main .comics-buy-container .div-container-element .element-comics-buy p {
  padding-left: 0.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.main .comics-buy-container .div-container-element .element-comics-buy img {
  width: 50px;
  height: 60px;
  color: white;
}

.container-sigle-comic {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.container-sigle-comic .single-comic-presentation {
  width: 100%;
}
.container-sigle-comic .single-comic-presentation .container-single-image {
  display: flex;
  justify-content: center;
}
.container-sigle-comic .single-comic-presentation .container-single-image img {
  display: flex;
  justify-content: center;
  width: 20rem;
}
.container-sigle-comic .single-comic-presentation h1 {
  color: #0282f9;
}
.container-sigle-comic .single-comic-presentation .single-container-price {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 2rem;
  background-color: #55ba59;
  color: white;
}
.container-sigle-comic .single-comic-presentation p {
  padding: 2rem 0;
}
.container-sigle-comic .single-comic-specs {
  display: flex;
  gap: 3rem;
}
.container-sigle-comic .single-comic-specs h2 {
  margin-bottom: 1.3rem;
}
.container-sigle-comic .single-comic-specs span {
  margin: 0.5rem;
}
.container-sigle-comic .single-comic-specs .comic-talent-spec {
  width: 50%;
}
.container-sigle-comic .single-comic-specs .comic-talent-spec .single-comic-artist {
  display: flex;
  justify-content: space-between;
}
.container-sigle-comic .single-comic-specs .comic-talent-spec .single-comic-writer {
  display: flex;
  justify-content: space-between;
}
.container-sigle-comic .single-comic-specs .comic-spec {
  width: 50%;
}

.footer {
  position: relative;
  height: 50vh;
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .top-part-footer {
  padding: 3rem 0;
}
.footer .top-part-footer .footer-container-list {
  width: 80%;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .top-part-footer .footer-container-list .list-side-footer {
  display: flex;
  gap: 4rem;
}
.footer .top-part-footer .footer-container-list .list-side-footer h2 {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  text-transform: uppercase;
}
.footer .top-part-footer .footer-container-list .list-side-footer li {
  margin-bottom: 0.4rem;
}
.footer .top-part-footer .footer-container-list .list-side-footer li a {
  color: #c8cdce;
  font-weight: 200;
}
.footer .top-part-footer .footer-container-list .list-side-footer li a:hover {
  color: white;
}
.footer .top-part-footer .footer-container-list img {
  height: 350px;
}
.footer .bottom-part-footer {
  width: 100%;
  background-color: #303030;
  position: absolute;
  bottom: 0;
}
.footer .bottom-part-footer .container-bottom-footer {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .bottom-part-footer .container-bottom-footer .sing-up-footer button {
  background-color: inherit;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 600;
  border: 2px solid #0282f9;
}
.footer .bottom-part-footer .container-bottom-footer .socials-footer {
  display: flex;
  gap: 0.7rem;
  color: #0282f9;
}